.about-wrapper{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;


    .about-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;


        .about-img{
            flex: 1;
            height: 90vh;
            z-index: 100;
           

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .about-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;


            .about-title{
                text-align:left;


                h1{
                    font-size: 3rem;
                    letter-spacing: 5px;

                    span{
                        color: rebeccapurple;
                    }
                }

                h3{
                    font-size: 1.4rem;
                }

                
            }

            p{
                font-size: .9rem;
                text-align: justify;
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about-wrapper{
        width: 90%;

        .about-container{
            

            .about-img{
                height: 100%;
            }

            .about-content{
                gap: 1rem;

                .about-title{
                    text-align:left;
    
    
                    h1{
                        font-size: 2.5rem;
                        letter-spacing: 5px;
    
                        span{
                            color: rebeccapurple;
                        }
                    }
    
                    h3{
                        font-size: 1rem;
                    }
    
                    
                }
    
                p{
                    font-size: .7rem;
                    
                }
            }
        }
    }
    
}

@media screen and (max-width: 500px){
    .about-wrapper{
        width: 90%;

        .about-container{
            

            .about-img{
                height: 100%;
            }

            .about-content{
                gap: 1rem;

                .about-title{
                    text-align:left;
    
    
                    h1{
                        font-size: 2rem;
                        letter-spacing: 5px;
    
                        span{
                            color: rebeccapurple;
                        }
                    }
    
                    h3{
                        font-size: 1rem;
                    }
    
                    
                }
    
                p{
                    font-size: .5rem;
                    
                }
            }
        }
    }
    
}

@media screen and (max-width: 375px){
    .about-wrapper{
        width: 90%;
        height: 50vh;

        .about-container{
            

            .about-img{
                height: 100%;
                display: none;
            }

            .about-content{
                gap: 1rem;

                .about-title{
                    text-align:left;
    
    
                    h1{
                        font-size: 1.7rem;
                        letter-spacing: 5px;
    
                        span{
                            color: rebeccapurple;
                        }
                    }
    
                    h3{
                        font-size: 1rem;
                    }
    
                    
                }
    
                p{
                    font-size: .5rem;
                    
                }
            }
        }
    }
    
}